<div class="card">
    <table>
        <tr>
            <td><h4> {{product.code}} </h4></td>
        </tr>
        <tr>
            <td> <h3>{{product.name}}</h3></td>
        </tr>
        <tr>
            <td> <p></p>{{product.description}}</td>
        </tr>
        <tr>
            <td> <h5>Category: {{product.category}}</h5></td>
        </tr>
        <tr>
            <td>  <ul style="list-style-type: none;font-size: 12px; color: white;" ><li > {{product.promocodes}} </li></ul></td>
        </tr>
    
   
   
    
</table>
</div>
