main {
    height: 100vh;
    text-align: center;
  
    
    
    .nav {
      padding: 40px;
      text-align: center;
     
    }
    .message-container {
      background-color: red;
      padding: 30px;
    }
    .user-container {
      background-color: brown;
      padding: 30px;

    }
   
  }
  .h2{
    text-align: center;
}
.campaigns{
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 320px;
    margin: left;
}
